body {
    font-family: 'Muli', sans-serif;
   

}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: 'Lora',
    sans-serif;
    font-weight:600;
	color:Black
}
 .navbar-brand img {width:150px}
 
 #footer {background-color:white;#fff}
 
 #lowerfooter {background-color:#E6E6FA}
 
 #lowerfooter i {font-size:50px;margin:10px}
 
 #footer {background-color:#E6E6FA}
 
 #products